.player-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.player-div > .player-img {
  flex-basis: 50%;
  height: 100%;
}

.player-div > .player-info {
  flex-basis: 50%;
  height: 100%;
  padding: 50px;
  padding-top: 0;
}

#main h1 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 2rem;
  text-align: center;
}

.player-img {
  background: url('../assets/player-info.jpg') no-repeat;
  background-position: center;
  border-right: 2px solid lightgray;
  height: 70%;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-btns button {
  margin: 1rem 0.5rem;
}

.player-stats {
  margin-right: auto;
  margin-left: 3rem;
  margin-top: 1rem;
}

.player-stats h4 {
  color: grey;
  font-weight: 400;
  margin: 6px 6px;
}

@media (max-width: 600px) {
  .player-div .player-img {
    display: none;
  }
  .player-div > .player-info {
    flex-basis: 100%;
    height: 100%;
    padding: 50px;
  }
}
