.home {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;
}

.home input {
  font-size: 1rem;
  width: 340px;
  padding: 16px 10px;
  border-radius: 4px 0 0 4px;
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.3);
}

.home input,
input:focus {
  border: 0 !important;
  outline: none !important;
}
