@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-image: url('./components/assets/bg.jpg');
}

.btn {
  padding: 16px 16px;
  border: 0;
  box-shadow: none;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0 4px 4px 0;
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.3);
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.btn-success {
  border-radius: 4px;
  background-color: rgb(23, 145, 23);
  box-shadow: none;
  font-size: 1rem;
  padding: 10px 10px;
}

.btn-info {
  border-radius: 4px;
  background-color: rgb(30, 196, 160);
  box-shadow: none;
  font-size: 1rem;
  padding: 10px 10px;
}

span {
  color: #222;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.mt-2 {
  margin-top: 1rem;
}
